@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;700&display=swap");
@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

.pointer {
  cursor: pointer;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
